@import url('https://fonts.googleapis.com/css?family=Bitter');

html body {
    font-family: Arial;
    background-color:rgb(253, 245, 200);
}

#header {
    animation: fadeIn 8s;
    font-family: "Bitter", sans-serif;
    color: rgb(255,232,94);
    margin: 30px 0px 30px 0px;;
    text-align: center;
}

#header img {
    width: 250px;
    height: 220px;
    position: relative;
    right:60px;
}

h1 {
    padding: 50px 10px 50px 10px;
    text-shadow: 2px 2px grey;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#article {
    display: block;
}

#article h4 {
    background-color: rgb(255,232,94);
    padding: 8px 0px 8px 8px;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
    border: 0px solid grey;
}

img {
    width: 286px;
    height: 240px;
}

img.card-img-top:hover {
    padding: 7px;
    border-color:rgba(207, 207, 207, 0.945);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
}

p {
    text-indent: 25px;
}

#pics {
    margin: 20px 25px 15px 40px;
    float: left;
}

footer{
    clear: both;
    background-color:rgb(250, 56, 8);
    padding: 30px;
    margin: 20px;
    color:white;
}
