@import url('https://fonts.googleapis.com/css?family=Bitter');

html body {
    font-family: Arial;
}

#header {
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: fadeIn 8s;
    font-family: "Bitter", sans-serif;
    color:white;
    margin-bottom: 30px;
    padding: 280px 105px 300px 105px;
    text-align: center;
    position: relative;
}

h1 {
    position: absolute;
    left: 90px;
    top: 130px;
    text-shadow: 2px 2px grey;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#article {
    display: block;
}

img {
    width: 286px;
    height: 240px;

}

img.card-img-top:hover {
    padding: 7px;
    border-color:rgba(207, 207, 207, 0.945);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

}


#pics {
    margin: 20px 25px 15px 40px;
    float: left;

}

footer{
    clear: both;
    background-color:rgb(250, 56, 8);
    padding: 30px;
    margin: 20px;
    color:white;
}
